.container .header {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 2px solid #379836;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container .header .left-side {
    width: 300px;
}

.container .header .left-side img {
    width: 100%;
    height: 100%;
}

.container .header .right-side h2 {
    width: 100%;
    text-align: end;
    text-transform: uppercase;
}
